<app-nav></app-nav>
<div class="container container-sm border border-dark rounded mt-3" style="width:600px;">
    <div class="row m-2">
        <span class="col-3">Name</span>
                <input class="col-9 border border-dark rounded" [(ngModel)]="toDoDTO.name">
            </div>
            <div class="row m-2">
            <span class="col-3">Description</span>
            <input class="col-9 border border-dark rounded" [(ngModel)]="toDoDTO.description">
            </div>
            <div class="row m-2">
                <span class="col-3">Priority</span>
                <select class="col-9 border border-dark rounded" [(ngModel)]="toDoDTO.priority">
                    <option value=0>Low</option>
                    <option value=1>Medium</option>
                    <option value=2>High</option>
                    <option value=3>Critical</option>
                </select>
            </div>
            <div class="row m-2">
                <span class="col-3">Date Started</span>
                <input class="col-9 border border-dark rounded" [(ngModel)]="toDoDTO.dateStarted" type="date">
            </div>
    <div class="container mb-2 d-flex justify-content-end">
            <button class="btn btn-primary mt-3 mb-2" (click)="newToDo()">Add Task</button>
    </div>
</div>