<app-nav></app-nav>
<div class="container">
<table class="table">
    <tbody>
        <tr>
            <td>Name</td>
            <td *ngIf="editToDo; else elseName"><input [(ngModel)]="toDo.name" class="rounded w-100"></td>
            <ng-template #elseName><td>{{toDo.name}}</td></ng-template>
        </tr>        
        <tr>
            <td>Priority</td>
            <td *ngIf="editToDo; else elsePriority"><select class="border border-dark rounded" [(ngModel)]="toDo.priority">
                <option [ngValue]=0>Low</option>
                <option [ngValue]=1>Medium</option>
                <option [ngValue]=2>High</option>
                <option [ngValue]=3>Critical</option>
            </select></td>
            <ng-template #elsePriority><td>{{toDo.priority | prioritylevel}}</td></ng-template>
        </tr>

        <tr>
            <td>Date Started</td>
            <td *ngIf="editToDo; else elseDateStarted"><input [(ngModel)]="toDo.dateStarted" type="date"></td>
            <ng-template #elseDateStarted><td>{{toDo.dateStarted | date : 'shortDate'}}</td></ng-template>
        </tr>
        <tr>
            <td>Date Completed</td>
            <td *ngIf="editToDo && toDo.isComplete; else elseDateCompleted"><input [(ngModel)]="toDo.dateCompleted" type="date"></td>
            <ng-template #elseDateCompleted><td>{{toDo.dateCompleted | date : 'shortDate'}}</td></ng-template>
        </tr>
        <tr>
            <td>Complete?</td>
            <td>{{toDo.isComplete? 'Yes':'No'}}</td>
        </tr>        
        <tr>
            <td>Description</td>
            <td *ngIf="editToDo; else elseDesc"><textarea [(ngModel)]="toDo.description" class="rounded w-100"></textarea></td>
            <ng-template #elseDesc><td>{{toDo.description}}</td></ng-template>
        </tr>

    </tbody>
</table>
<div>
    <span *ngIf="allComplete; else elseBlock">
        <button class="btn btn-secondary" (click)="completeToDo(toDo.id)">Complete</button>
    </span>
    <ng-template #elseBlock>
        <button class="btn btn-secondary" disabled>Complete</button>
    </ng-template>
    <span *ngIf="!editToDo; else elseEditBtn"><button class="btn btn-secondary btn-small ms-2" (click)="editToDoBtn()">Edit</button></span>
    <ng-template #elseEditBtn><button class="btn btn-secondary btn-small ms-2" (click)="submitToDoEdit()">Submit</button></ng-template>
</div>
<h3>Todo Items/SubTasks</h3>
<button class="btn btn-secondary btn-small" (click)="newItem()">Add New Item</button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Completed?</td>
                    <td>Mark Completed</td>
                    <td>Edit</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of toDo.items" [ngClass]="item.isComplete === true ? 'green-bg' : '' ">
                    <td><input class="rounded mt-1" [(ngModel)]="item.name" [disabled]="item.edit"></td>
                    <td><input class="rounded mt-1" [(ngModel)]="item.description" [disabled]="item.edit"></td>
                    <td class="text-center">{{item.isComplete? 'Yes':'No'}}</td>
                    <td><button class="btn btn-secondary btn-small" (click)="markComplete(item.id)">Complete</button></td>
                    <td *ngIf="item.edit; else elseBlock"><button class="btn btn-secondary btn-small" (click)="editToDoItem(item.id)">Edit</button></td>
                    <ng-template #elseBlock><td><button class="btn btn-secondary btn-small" (click)="submitToDoItem(item.id)">Submit</button></td></ng-template>
                </tr>
                <tr *ngIf="newItemBtn">
                    <td><input class="rounded" [(ngModel)]="newItemDTO.name"></td>
                    <td><input class="rounded" [(ngModel)]="newItemDTO.description"></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-secondary btn-small" (click)="submitNewItem()">Submit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>