<app-nav></app-nav>
<div class="container">
<table class="table table-sm">
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{toDo.name}}</td>
        </tr>        
        <tr>
            <td>Priority</td>
            <td>{{toDo.priority | prioritylevel}}</td>
        </tr>

        <tr>
            <td>Date Started</td>
            <td>{{toDo.dateStarted | date : 'shortDate'}}</td>
        </tr>
        <tr>
            <td>Date Completed</td>
            <td>{{toDo.dateCompleted | date : 'shortDate'}}</td>
        </tr>
        <tr>
            <td>Complete?</td>
            <td>{{toDo.isComplete? 'Yes':'No'}}</td>
        </tr>        
        <tr>
            <td>Description</td>
            <td>{{toDo.description}}</td>
        </tr>

    </tbody>
</table>
<div *ngIf="allComplete; else elseBlock">
    <button class="btn btn-primary" (click)="completeToDo(toDo.id)">Complete</button>
</div>
<ng-template #elseBlock>
    <button class="btn btn-primary" disabled>Complete</button>
</ng-template>
<h3>Todo Items/SubTasks</h3>
<button class="btn btn-primary btn-small" (click)="newItem()">Add New Item</button>
<table class="table table-sm">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Completed?</td>
            <td>Mark Completed</td>
            <td>Edit</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of toDo.items">
            <td><input class="rounded" [(ngModel)]="item.name" [disabled]="item.edit"></td>
            <td><input class="rounded" [(ngModel)]="item.description" [disabled]="item.edit"></td>
            <td class="text-center">{{item.isComplete? 'Yes':'No'}}</td>
            <td><button class="btn btn-primary btn-small" (click)="markComplete(item.id)">Complete</button></td>
            <td *ngIf="item.edit; else elseBlock"><button class="btn btn-primary btn-small" (click)="editToDo(item.id)">Edit</button></td>
            <ng-template #elseBlock><td><button class="btn btn-primary btn-small" (click)="submitToDoItem(item.id)">Submit</button></td></ng-template>
        </tr>
        <tr *ngIf="newItemBtn">
            <td><input class="rounded" [(ngModel)]="newItemDTO.name"></td>
            <td><input class="rounded" [(ngModel)]="newItemDTO.description"></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-primary btn-small" (click)="submitNewItem()">Submit</button></td>
        </tr>
    </tbody>
</table>
</div>