
<div class="container-fluid" style="margin-top: 20px;" (keyup.enter)="logOn()">
    <div class="container-sm center border border-dark rounded position-absolute top-50 start-50 translate-middle">
        <div class="row center continer-xs gy-3">
            <div class="col">Username:</div>
            <input class="col" [(ngModel)]="loginUser.username" type="text">
        </div>
        <div class="row center gy-3">
            <div class="col">Password:</div>
            <input class="col" [(ngModel)]="loginUser.password" type="password">
        </div>
        <div class="row" style="margin-top: 1em;">
            <div class="col"></div>
            <div class="col-5">
                <button class="btn btn-primary btn-small rounded" type="submit" (click)="logOn()">Log On</button>
            </div>
        </div>
        <div class="message">{{message}}</div>
        <a class="link-secondary link-underline-opacity-0" routerLink="/register">Register new account</a>
    </div>
</div>
