<app-nav></app-nav>
<div class ="container">
    <div class="container">
        
    </div>
    <div class="container m-2"><a class="btn btn-sm btn-secondary m-1" routerLink="/newtodo">New ToDo</a>
        <span class="my-2 p-2">Show Completed?<input class="ms-2"[(ngModel)]="showComplete" type="checkbox" (click)="showCompletes()"></span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date Started</th>
                <th>Date Completed</th>
                <th>Completed?</th>
                <th>priority</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of ToDos | complete:showComplete" class="{{todo.priority |todoBg}}">
            <td class="p-3">{{todo.name}}</td>
            <td class="p-3">{{todo.description}}</td>
            <td class="p-3">{{todo.dateStarted | date:'shortDate'}}</td>
            <td class="p-3">{{todo.dateCompleted |date:'shortDate'}}</td>
            <td class="p-3">{{todo.isComplete? 'YES':'NO' }}</td>
            <td class="p-3">{{todo.priority | prioritylevel }}</td>
            <td><a class="btn btn-small btn-secondary" routerLink="/todo/{{todo.id}}">Details</a></td>
            </tr>
        </tbody>
    </table>
</div>