<nav class="navbar navbar-light bg-dark" style="color:aliceblue;">
    <div class="container">
        <ul class="nav md-auto">
            <li class="nav-item m-2"><a class="nav-link m-0" routerLink="/listbyuserid" style="color:aliceblue;">Home</a></li>
            <li class="nav-item m-2"><a class="nav-link" routerLink="/about" style="color:aliceblue;">About</a></li>
        </ul>
        <span class="ms-auto">{{globalSvc.loggedInUser.userName}}</span>
        <button class="btn btn-dark btn-small border-light ms-2" (click)="logOut()">Log Out</button>
    </div>
</nav>