/* You can add global styles to this file, and also import other style files */
.center{
    margin:auto;
    width:50%;
}
.full-width{
    width:100%;
}
.medium-box{
    width:600px;
}
.green-bg{
    --bs-table-bg: green;
}